body{
    background-color: white;
    border-radius: 3px;
}

#activateSnippingTool {
    background-color: #007BFF;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Arial, sans-serif';
    font-size: 14px;
}

#screenshot-overlay {
    pointer-events: auto; /* Ensure that the overlay can receive events */
}