body{
    background-color: rgb(18, 72, 210);
    border-radius: 3px;
}

#activateSnippingTool {
    background-color: rgba(23, 29, 31, 0.7);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#screenshot-overlay {
    pointer-events: auto; /* Ensure that the overlay can receive events */
}